body {
  background-color: #f3f3f3;
}

header {
  text-align: justify;
  letter-spacing: 4px;
  padding-top: 1em;
  padding-left: 2em;
  background: #343a40;
  color: aliceblue;
}

header h1,
header nav {
  text-align: center;
  display: inline-block;
}

header nav a {
  margin-right: 25px;
  color: #ababac;
  font-weight:600;
}

header nav a:hover {
  color: aliceblue;
  text-decoration: none;
}
header nav a:active {
  color: aliceblue;
}

header:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.box {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.slide {
  padding-top: 5px;
  width: 33%;
}
.act{ 
  background-color: #343a40;
  width: 100%;
  display: flex;
} 


.blog-header {
  margin: 10px;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
}
  
.blog-photo {
  display: block;
  max-width: 100%;
  height: 17vw;
}

.blog-date {
  padding: 7px 15px;
  position: absolute;
  bottom: 10px;
  left: -10px;
  z-index: 1;
  background-color: #343a40;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
}
    
.blog-header:hover .blog-date {
  background-color: #18bb69;
}
 
.act .blog-date{
  background-color: #18bb69;
}

.act .blog-photo {
 border-radius: 10px;
}
.box-flex {
  flex-wrap: wrap;
}

.brand {
  display: none;
}

.act .brand {
  font-size: x-large;
  display: initial;
  color: aliceblue;
  height: 100%;
  -moz-columns: 3 200px;
  -webkit-columns: 3 200px;
  columns: 5 200px;
}

li a {
  color: aliceblue;
}

li a:hover{
  color: #18bb69;
  text-decoration: none;
}

.leftcolumn {
  float: left;
  width: 110px;
  padding-right: 30px;
}

.centercolumn {
  float: left;
  width: 79%;
}

.rightcolumn {
  width: 13%;
  padding-left: 30px;
  display: inline-block;
}

.card {
  text-align: center;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  cursor: default;
}

.but:hover {
  color: #18bb69;
  cursor: pointer;
}

#img {
  width: auto;
  height: auto;
  padding: 20px;
}

table {
  text-align: left;
  margin: auto;
  max-width: 80%;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

table th {
  font-weight: bold;
}

table td {
  padding: 5px;
  border: 1px solid #dddddd;
}

@media screen and (max-width: 1030px) {
  .blog-date {
    font-size: 20px;
  }
  .act .brand {
    -moz-columns: 3 130px;
    -webkit-columns: 3 130px;
    columns: inherit 130px;
  }
  .brand li {
    font-size: 15px;
  }
}


@media screen and (max-width: 1050px) {
  .centercolumn,
  .leftcolumn,
  .rightcolumn {
    width: 100% !important;
    padding: 0;
  }
  .rightcolumn span {
    display: inline !important;
  }
}

@media screen and (max-width: 1460px) {
  .rightcolumn {
    width: 110px;
  }
  .rightcolumn span {
    display: none;
  }
}

footer {
  width: 100%;
  background-color: #343a40;
}

footer div {
  padding: 5px;
  padding-left: 20px;
  font-size: 15px;
  color: #afafaf;
}

footer div a {
color: #18bb69;
}

footer div a:hover {
  color: #18bb69;
}

.box-icon .slide{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
border: 4px solid #343a40;
}