
.leftcolumn {
    float: left;
    width: 110px;
    padding-right: 30px;
  }
  
  .centercolumn {
    float: left;
    width: 79%;
  }
  
  .rightcolumn {
    width: 13%;
    padding-left: 30px;
    display: inline-block;
  }
  
  .card {
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    cursor: default;
  }
  
  .but:hover {
    color: #18bb69;
    cursor: pointer;
  }
  
  #img {
    width: auto;
    height: auto;
    padding: 20px;
  }
  
  table {
    text-align: left;
    margin: auto;
    max-width: 80%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
  }
  
  table th {
    font-weight: bold;
  }
  
  table td {
    padding: 5px;
    border: 1px solid #dddddd;
  }
  
  @media screen and (max-width: 1030px) {
    .blog-date {
      font-size: 20px;
    }
    .act .brand {
      -moz-columns: 3 130px;
      -webkit-columns: 3 130px;
      columns: inherit 130px;
    }
    .brand li {
      font-size: 15px;
    }
  }
  
  
  @media screen and (max-width: 1050px) {
    .centercolumn,
    .leftcolumn,
    .rightcolumn {
      width: 100% !important;
      padding: 0;
    }
    .rightcolumn span {
      display: inline !important;
    }
  }
  
  @media screen and (max-width: 1460px) {
    .rightcolumn {
      width: 110px;
    }
    .rightcolumn span {
      display: none;
    }
  }
  